<div class="panel">
  <%- @collections.each do |collection| %>
    <div class="item">
      <%= image_tag('interface/default_user.png', :class => "user", :size => "40x40") %>
      <div class="item-container">
        <div class="name">
          <%= link_to collection.name, collection_path(collection.zooniverse_id) %> by <%= collection.user.name %>
        </div>
        <div class="date">Last updated <%= time_ago_in_words(collection.updated_at) %> ago</div>
        <div class="body"><%= truncate collection.description, :length => 80, :separator => ' ' %></div>
      </div>
    </div>
  <% end -%>
</div>
