<%- form_class = (action == :new) ? "new_collection" : "edit_collection" %>
<%- form_action = (action == :new) ? :create : :update %>

<%= form_for @collection, :as => :collection, :url => { :controller => :collections, :action => form_action }, :html => { :class => form_class } do |f| %>
  <%= hidden_field_tag('collection[asset_ids]', @asset.id) if @asset %>
  <span>
    <p id="name-label" class="label">Name of collection</p>
    <%= f.text_field :name, :size => 30 %>
  </span>
  <span>
    <p id="description-label" class="label">Description of collection</p>
    <%= f.text_field :description, :size => 60 %>
  </span>
  <%- if @collection.new_record? && @kind.nil? %>
    <span>
      <p id="kind-label" class="label">Collection type</p>
      <%= select "collection_kind", "id", options_for_select(['Collection', 'Keyword Set'], 'Collection'), {}, { :onchange => 'check_collection_type();' } %>
    </span>
  <%- else -%>
    <%= hidden_field_tag "collection_kind[id]", @kind %>
  <% end -%>
  
  <%- if @kind.nil? || @kind == "Keyword Set" %>
    <div id="keyword_set_form" style="display:none;">
      <%- if @keywords && @keywords.any? %>
        <%= render :partial => "keyword_filter", :collection => @keywords %>
      <%- else -%>
        <%= render :partial => "keyword_filter", :locals => { :keyword_filter_counter => 0 } %>
      <% end -%>
      
      <p><%= link_to "Preview &rarr;".html_safe, "#", :onclick => 'update_keyword_set_results(); return false;' %></p>
      <div id="keyword_set_results"></div>
    </div>
  <% end -%>
  
  <%- unless @collection.new_record? || @kind == "Keyword Set" %>
    <div id="collection-assets">
      <%= render :partial => "assets" %>
    </div>
  <% end -%>
  
  <%= hidden_field_tag "object_id", @asset.zooniverse_id unless @asset.nil? %>
  <%= hidden_field_tag "keywords", @keywords unless @keywords.nil? %>
  
  <%= submit_tag %>
<% end -%>

<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
    Talk.notice.init();
    
    if(<%= @kind != "Collection" %>) {
      check_collection_type();
      
      $('.keyword-filter').each(function(count, elem) {
        $(elem).children('a:last').bind('click', function() {
          remove_keyword_field('keyword_' + (count + 1) + '_wrapper');
          return false;
        });
      });
    }
  });
</script>