<%= form_for @collection do |f| %>
	<%- if @collection.new_record? -%>
	<span><%= f.text_field :name, :size => 30, :onfocus => "clear_input('collection_name');", :onblur => "replace_input('collection_name','Name of new collection');", :value => "Name of new collection" %></span>
	<br /><br />
	<span><%= f.text_field :description, :size => 60, :onfocus => "clear_input('collection_description');", :onblur => "replace_input('collection_description','Brief description of collection');", :value => "Brief description of collection" %></span>
	<br /><br />
	<span><%= select("collection_kind", "id", "<option>Collection</option><option>Live Collection</option>", {}, {:onchange => 'check_collection_type();'}) %></span>
	<br /><br />
	
	<div id="live_collection_form" style="display:none;">
		<div id="keyword_1_wrapper">
		<%= text_field "keyword", "1", :value => "Add a keyword", :class => "keyword", :onfocus => 'clear_this(this);', :onblur => 'replace_this(this);' %>  <%= link_to((image_tag "add.png", :size => "13x13"), "#", :onclick => "add_keyword_field();" ) %> <%= link_to((image_tag "cancel.png", :size => "13x13"), "#", :onclick => "remove_keyword_field('keyword_1');") %>
		</div>
		
		<p><%= link_to "Preview &rarr;".html_safe, "#", :onclick => 'update_live_collection_results();' %></p>
		
		<div id="live_collection_results">
			
		</div>
		<br /><br />

	</div>
	<%- else -%>
	<span><%= f.text_field :name, :size => 30 %></span>
	<br /><br />
	<span><%= f.text_field :description, :size => 60 %></span>
	<br /><br />
	<span><%= select("collection_kind", "id", "<option>Collection</option>") %></span>
	<br /><br />
	<%- end -%>
	
	<div id="collection-assets">
		<%= render :partial => "assets" %>
	</div>
	<%= submit_tag %>
<%- end %>