<%= content_for :page_includes do %>
  <link rel="stylesheet" href="/stylesheets/jquery-ui-1.8.5.custom.css" type="text/css" media="all" />
<% end -%>

<div class="upper-row">
  <h1 class="collection-title">
    <%= @collection.name %> by <%= link_to @collection.user.name, user_path(@collection.user) %>
  </h1>
  
  <div class="rhc">
    <%= render :partial => "discussions/list_for_focus" %>
    <%= render :partial => "shared/tags_for_focus" %>
    <%= render :partial => "discussions/mentions" %>
  </div>
  
  <div class="lhc">
    <p class="collection-description"><%= @collection.description %></p>
    <div class="collection-viewer rounded-panel">
      <%- unless @collection.assets.empty? %>
        <%- @collection.assets.each do |item| %>
          <%= link_to image_tag(item.location, :class => "collection-thumbnail", :width => 90, :height => 90), object_path(item.zooniverse_id) %>
        <% end -%>
      <%- else -%>
        EMPTY COLLECTION
      <% end -%>
      
      <%- if @collection.user == current_zooniverse_user %>
        <div class="asset-actions">
          <ul>
            <li><%= link_to "Edit", edit_collection_path(@collection.zooniverse_id) %></li>
          </ul>
        </div>
      <% end -%>
      
    </div>
  </div>
</div>

<div class="lower-row">
  <div class="lhc">
    <%- if current_zooniverse_user %>
      <%= render :partial => "comments/new_short" %>
    <%- else -%>
      <%= render :partial => "shared/please_log_in" %>
    <% end -%>
    <div class="comments-list rounded-panel short-comments">
      <%= render :partial => "comments/list_short" %>
    </div>
  </div>
  <div class="rhc"></div>
</div>
