<%= content_for :page_includes do %>
  <%= javascript_include_tag 'jquery.colorbox-min' %>
  <%= stylesheet_link_tag 'colorbox' %>
  <link rel="stylesheet" href="/stylesheets/jquery-ui-1.8.5.custom.css" type="text/css" media="all" />
<% end -%>

<div class="upper-row">
  <h1 class="collection-title">
    <%= @collection.is_a?(LiveCollection) ? "Keyword Set" : "Collection" %>
    <em>&#8220;<%= @collection.name %>&#8221;</em>
    by <%= link_to @collection.user.name, user_path(@collection.user) %>
    <%- if @collection.is_a?(LiveCollection) %>
      <ul class="keyword-listing">
        <%- @collection.tags.each do |tag| %>
          <%= content_tag "li", link_to("##{tag}", search_url(:search => "keywords: #{tag}", :for => "objects")) %>
        <% end -%>
      </ul>
    <% end -%>
    <div class="push"></div>
  </h1>
  
  <div class="rhc">
    <%= render :partial => "discussions/list_for_focus" %>
    <%= render :partial => "shared/tags_for_focus" %>
    <%= render :partial => "discussions/mentions" %>
  </div>
  
  <div class="lhc" style="width: 650px;">
    <p class="collection-description"><%= @collection.description %></p>
    <div class="collection-viewer rounded-panel">
      <%- unless @collection.assets.empty? %>
        <%= image_tag(@collection.assets.first.location, :class => "collection-large asset-large", :width => 200, :height => 200) %>
        
        <div class="collection-info">
          <div class="container collection-asset-container">
            <%- collected = @collection.is_a?(LiveCollection) ? @collection.assets(:per_page => 0) : @collection.assets %>
            <%- collected.in_groups_of(9).each do |group| %>
              <div class="col">
                <%- group.reject(&:nil?).each do |item| %>
                  <%= link_to image_tag(item.location, :class => "collection-thumbnail", :width => 90, :height => 90), object_path(item.zooniverse_id) %>
                  <%= link_to image_tag(item.location), item.location, :rel => 'lightbox', :title => item.zooniverse_id, :style => 'display: none;' %>
                <% end -%>
              </div>
            <% end -%>
          </div>
          
          <div class="nav collection-asset-nav"></div>
        </div>
      <%- else -%>
        EMPTY COLLECTION
      <% end -%>
      <div class="push" />
      
      <%- if @collection.user == current_zooniverse_user %>
        <div class="asset-actions">
          <ul>
            <li><%= link_to "Edit", edit_collection_path(@collection.zooniverse_id) %></li>
          </ul>
        </div>
      <% end -%>
      
    </div>
  </div>
</div>

<div class="lower-row">
  <div class="lhc">
    <%- if current_zooniverse_user %>
      <%= render :partial => "comments/new_short" %>
    <%- else -%>
      <%= render :partial => "shared/please_log_in" %>
    <% end -%>
    <div class="comments-list rounded-panel short-comments">
      <%= render :partial => "comments/list_short" %>
    </div>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
    OCT.paginated_collection.init();
    OCT.collection_hover.init();
    OCT.collection_lightbox.init();
  });
</script>
