<div class="upper-row">
	<%= render :partial => "shared/tags_for_focus" %>
	<%= render :partial => "shared/collection_as_focus" %>
</div>

<div class="lower-row">
	<div class="lhc">		
		<div class="comments-list">
			<%= render :partial => "shared/stream" %>
		</div>
		<%= render :partial => "shared/comment_short_new" if current_zooniverse_user %>			
	</div>
	<div class="rhc">
		<%= render :partial => "shared/list_of_discussions" %>	
		<%= render :partial => "shared/list_of_mentions" %>									
	</div>
</div>