<div class="message-reply-form">
  <%= form_for Message.new do |f| %>
    <span>
      <p class="label">Message title</p>
      <%= f.text_field :title, :size => 45 %>
    </span>
    <span>
      <p class="label">Message</p>
      <%= f.text_area :body, :rows => 10, :cols => 63 %>
    </span>
    
    <%= hidden_field_tag('message[recipient_name]', @thread_with_user.name ) %>
    <%= submit_tag 'Reply' %>
  <% end -%>
</div>
