<div class="upper-row">
	<h1><%= t 'messages.messages' %> > <%= t 'messages.inbox' %></h1>
	<%= render :partial => "meta_for_messages" %>
</div>

<div class="lower-row">
	<div class="lhc">		
		<div class="message-list">
			<% if @messages.empty? %>
				<%= t 'messages.none' %>
			<% else %>
			<%= render :partial => "message", :collection => @messages %>
			<% end %>
		</div>			
	</div>
	<div class="rhc">
		<div id="compose-message" class="panel" >
			<p class="new"><%= link_to "+ #{t('messages.startnew')}", :controller => :messages, :action => :new %></p>
		</div>
		<%= render :partial => "shared/zooniverse_extras" %>			
		<%= render :partial => "shared/project_link" %>	
		<%= render :partial => "shared/help_wanted" %>									
	</div>
</div>