<div class="upper-row">
	<h1><%= t 'messages.messages' %></h1>	
	<div class="message-nav">
		<a class="current" href="/messages"><%=  t 'messages.inbox' %></a>&nbsp;|&nbsp;<a href="/messages/sent"><%= t 'messages.sent' %></a>
	</div>
	<div class="rhc">
		<%= render :partial => "meta_for_messages" %>
	</div>
</div>

<div class="lower-row">
	<div class="lhc">		
		<div class="message-list">
							<div class="news" style="float:right;margin-right:0;"><%= link_to "#{t('messages.startnew')}", :controller => :messages, :action => :new %></div>
			<% if @messages.empty? %>
				<%= t 'messages.none' %>
			<% else %>
				<%= render :partial => "message", :collection => @messages %>
			<% end %>
		</div>			
	</div>
	<div class="rhc">
		<%= render :partial => "shared/zooniverse_extras" %>			
		<%= render :partial => "shared/project_link" %>	
		<%= render :partial => "shared/help_wanted" %>									
	</div>
</div>