<%= content_for :content_class do %>messages<% end %>
<div class="upper-row">	
	<div class="lhc">
	  <h1>New Message</h1>
		<div>
		   <%= link_to t('messages.inbox'), messages_path %>
		  &nbsp;|&nbsp;
		  <%= link_to t('messages.sent'), sent_messages_path %>
		</div>
  </div>
</div>

<div class="lower_row">
<%= form_for @message do |f| %>
  <p>
    <%= f.text_field :recipient_name,
        :onfocus => "clear_input('message_recipient_name');",
        :onblur => "replace_input('message_recipient_name', 'Recipient's login or email');",
        :value => (@recipient_name || "Recipient's login or email") %>
  </p>
  <p>
    <%= f.text_field :title,
        :onfocus => "clear_input('message_title');",
        :onblur => "replace_input('message_title', 'Message title');",
        :value => "Message title" %>
  </p>
  <%= f.text_area :body, :rows => 4, :cols => 61 %>
	<p>
  	<%= submit_tag 'Send' %>
	</p>
<% end -%>
</div>
<%= render :partial => "recipient_autocompleter.js" %>
