<div class="upper-row">
	<h2><%= t 'messages.messages' %> > <%= t 'messages.sent' %></h2>
	<%= render :partial => "meta_for_messages" %>
</div>

<div class="lower-row">
	<div class="lhc">		
		<div class="message-list">
			<%= render :partial => "message", :collection => @messages %>
		</div>			
	</div>
	<div class="rhc">
		<%= render :partial => "shared/zooniverse_extras" %>			
		<%= render :partial => "shared/project_link" %>	
		<%= render :partial => "shared/help_wanted" %>									
	</div>
</div>