<%= content_for :content_class do %>messages<% end %>

<div class="upper-row">
  <div class="rhc">
    <div class="right">
      <%= render :partial => "new_button" %>
    </div>
  </div>
  
  <div class="lhc">
    <h1><%= t 'messages.thread_with' %> <%= @thread_with_user.name %></h1>
    <span class="low_link">&larr;&nbsp;<%= link_to t('messages.back_to_inbox'), messages_path %></span>
  </div>
</div>

<div class="lower-row">
  <div class="lhc">
    <div class="message-list">
      <%= render :partial => "message", :collection => @messages %>
      <%= render :partial => "reply" %>
    </div>
  </div>
  <div class="rhc">
    <%= render :partial => "shared/zooniverse_extras" %>
    <%= render :partial => "shared/help_wanted" %>
  </div>
</div>
