<%= content_for :content_class do %>messages<% end %>

<div class="upper-row">
  <div class="rhc">
    <div class="right">
      <%= render :partial => "new_button" %>
    </div>
  </div>
  
  <div class="lhc">
    <h1><%= t 'messages.thread_with' %> <%= @thread_with_user.name %></h1>
  </div>
</div>

<div class="lower-row">
  <div class="lhc" style="width: auto;">
    &larr;&nbsp;<%= link_to t('messages.back_to_inbox'), messages_path %>
    <div class="message-list">
      <%= render :partial => "message", :collection => @messages %>
      <%= render :partial => "new_message" %>
    </div>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
    $('html,body').animate({
      scrollTop: $('#<%= @showing.id %>').offset().top
    }, {
      duration: 'slow',
      easing: 'swing'
    });
  });
</script>
