<%= content_for :page_includes do %>
  <%= javascript_include_tag "markitup/jquery.markitup" %>
  <%= javascript_include_tag "markitup/sets/sellers/set" %>
  <%= javascript_include_tag "jquery.a-tools" %>
  <%= javascript_include_tag "jquery.annotate" %>
  <%= stylesheet_link_tag "annotation" %>
  <link rel="stylesheet" href="/javascripts/markitup/skins/simple/style.css" type="text/css" media="screen" charset="utf-8">
  <link rel="stylesheet" href="/javascripts/markitup/sets/sellers/style.css" type="text/css" media="screen" charset="utf-8">
<% end -%>

<%= form_for @discussion do |f| %>
  <span><%= f.text_field :subject, :size => 80, :onfocus => "clear_input('discussion_subject');", :onblur => "replace_input('discussion_subject','Subject of new discussion');", :value => "Subject" %></span>
  <br /><br />

  
  <%= f.fields_for :comments do |builder| %>
  <%= f.fields_for :comments, @comment do |builder| %>
    <div class="comment-form">
      <h2>First comment</h2>
      <%= builder.text_area :body, :rows => 6, :cols => 40, :style => "display: inline;" %>
      <%= hidden_field_tag('discussion[comments][author_id]', current_zooniverse_user.id) %>
      <%= hidden_field_tag('discussion[focus_type]', @focus.class.name) if @focus %>
      <%= hidden_field_tag('discussion[focus_id]', @focus.id) if @focus %>
      <%= hidden_field_tag('board_id', @board) if @board %>
      <div id="comment-preview"></div>
      <%= submit_tag 'Submit' %>
    </div>
  <% end -%>
<%- end %>

<%- if @focus && @focus.is_a?(Asset) %>
  <img id="asset-image" src="<%= @focus.location %>" style = "display: none;" />
  <div id="comment-annotation" style="display: none;">
    <%= image_tag @focus.location, :id => "comment-focus" %>
  </div>
<% end -%>

<%= render :partial => "new.js" %>