<%= javascript_include_tag "jquery.annotate" %>
<%= stylesheet_link_tag "annotation" %>

<div class="upper-row discussion-thread">
  <div class="lhc"<% if @discussion.focus_type == "Board" %>style="width:700px;"<% end %>>
    <h1 class="discussion-title">
      <%= title_for(@focus) %>
    </h1>
    <%= render :partial => "form_for_discussion" %>
  </div>
  <div class="rhc">
    <%= render :partial => "shared/zooniverse_extras" %>
  </div>
</div>