<%= content_for :page_includes do %>
  <%= javascript_include_tag "jquery.annotate" %>
  <%= stylesheet_link_tag "annotation" %>
  <link rel="stylesheet" href="/stylesheets/jquery-ui-1.8.5.custom.css" type="text/css" media="all" />
<% end -%>

<div class="upper-row discussion-thread<%= ' full-width' if @focus.is_a?(Board) %>">
  <div class="rhc">
    <%= render :partial => "shared/zooniverse_extras" %>
  </div>
  <div class="lhc">
    <h1 class="discussion-title">
      <%= title_for(@focus) %>
    </h1>
    <%= render :partial => "form_for_discussion" %>
  </div>
</div>
