<div class="upper-row discussion">
	<% unless @discussion.focus_type.blank? %>	
	<div class="rhc">				
		<div class="panel discussion-items">
		<% if (@discussion.asset?) %>								
			<%= image_tag(@discussion.focus.location, :class => "focus-main-image", :id => "asset-image", :height => 200) %>
		<% end %>		
		
		<% if (@discussion.collection? || @discussion.live_collection?) %>		
			<% unless @discussion.focus.assets.empty?%>
				<%= image_tag(@discussion.focus.assets.first.location, :class => "collection-large", :id => "asset-image", :height => 216) %>		
				<% @discussion.focus.assets.each do |item| %>												
					<%= image_tag(item.thumbnail_location, :class => "collection-thumbnail", :height => 51) %>
				<% end %>																	
			<% else %>
				EMPTY COLLECTION				
			<% end %>									
		<% end %>	
		</div>
	</div>
	<% end %>	
	<div class="lhc" <% if @discussion.focus_type.blank? %>style="width:auto;"<% end %>>
		<h2><strong>DISCUSSION <span class="discussion-splitter">/</span> <%= @discussion.zooniverse_id %></strong></h2>		
		<h1><%= @discussion.subject %></h1>
		<% @discussion.tags.each do |tag| %>
			<%= link_to tag %>
		<% end %>
	</div>
</div>

<div class="lower-row">
	<div class="lhc" <% if @discussion.focus_type.blank? %>style="width:700px;"<% end %>>		
		<div class="comments-list">
			<%= render :partial => "shared/comment_short", :collection => @discussion.comments %>
		</div>
		<%= render :partial => "shared/comment_new" if current_zooniverse_user %>			
	</div>
</div>