<%= content_for :page_includes do %>
  <%= javascript_include_tag "jquery.annotate" %>
  <%= javascript_include_tag "jquery.colorbox-min" %>
  <%= stylesheet_link_tag "annotation" %>
  <%= stylesheet_link_tag "colorbox" %>
  <link rel="stylesheet" href="/stylesheets/jquery-ui-1.8.5.custom.css" type="text/css" media="all" />
<% end -%>

<%= content_for :content_class do %>discussion<% end %>

<div class="upper-row">
  <!-- Show RHC images -->
  <%- unless @discussion.focus_type == "Board" %>
    <div class="rhc">
      <div class="discussion-items">
        <%- if @discussion.asset? %>
          <%= image_tag(@discussion.focus.location, :class => "focus-main-image", :id => "asset-image", :height => 200, :width => 200) %>
        <% end -%>
        
        <%- if @discussion.collection? || @discussion.live_collection? %>
          <%- unless @discussion.focus.assets.empty? %>
            <%= image_tag @discussion.focus.assets.first.location, :class => "collection-large", :id => "asset-image", :height => 215, :width => 215 %>
            
            <div class="discussed collection-info">
              <div class="container">
                <%- collected = @discussion.focus.is_a?(LiveCollection) ? @discussion.focus.assets(:per_page => 0) : @discussion.focus.assets %>
                <%- collected.in_groups_of(12).each do |group| %>
                  <div class="discussed col">
                    <%- group.reject(&:nil?).each do |item| %>
                      <%= link_to image_tag(item.thumbnail_location, :class => "collection-thumbnail", :height => 51, :width => 51), object_path(item.zooniverse_id) %>
                      <%= link_to image_tag(item.location), item.location, :rel => 'lightbox', :title => item.zooniverse_id, :style => 'display: none;' %>
                    <% end -%>
                  </div>
                <% end -%>
              </div>
              
              <div class="nav"></div>
            </div>
          <%- else -%>
            <%= t 'discussion.meta.emptycollection' %>
          <% end -%>
        <% end -%>
      </div>
      <div>
        <%= link_to @title, @bns_path %>
      </div>
    </div>
  <%- else -%>
    <div class="rhc">
      <div class="board_info">
        <h2><%= link_to @title, @bns_path %></h2> discussion
      </div>
    </div>
  <% end -%>
  
  <!-- Main Discussion panel -->
  <div class="lhc">
    <div class="question">
      <h1><%= @discussion.subject %></h1>
      <div class="started_by">
        <%= t 'discussion.meta.startedby' %> <%= @discussion.started_by.name unless @discussion.started_by.nil? %>
      </div>
      <div class="subtext">
        <% @discussion.keywords.each do |keyword| %>
          <%= link_to keyword, search_url(:search => "keywords: #{keyword}") %>
        <% end -%>
      </div>
      
      <%- if current_zooniverse_user && current_zooniverse_user.privileged? %>
        <div id="admin-tools">
          <%- unless @discussion.featured %>
            <p id="featured-link">
              <%= link_to "Make this a featured discussion", toggle_featured_discussion_path(@discussion), { :remote => true, :method => :post } %>
            </p>
          <%- else -%>
            <p id="featured-link">
              <%= link_to "Remove this from featured discussions", toggle_featured_discussion_path(@discussion), { :remote => true, :method => :post } %>
            </p>
          <% end -%>
        </div>
      <% end -%>
    </div>
  </div>
</div>

<div class="lower-row discussion-thread<%= ' full-width' if @discussion.focus_type == "Board" %>">
  <div class="lhc">
    <div class="comments-list">
      <%= render :partial => "comments/list" %>
    </div>
    <a id="comment"></a>
    <%- if current_zooniverse_user %>
      <%= render :partial => "comments/new" %>
    <%- else -%>
      <%= render :partial => "shared/please_log_in" %>
    <%- end -%>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
    if(<%= @discussion.collection? || @discussion.live_collection? %>) {
      OCT.paginated_collection.init();
      OCT.collection_hover.init();
      OCT.collection_lightbox.init();
    }
  });
</script>
