<div class="panel">
  <%- @comments.each do |comment| %>
    <div class="item">
      <%= image_tag('interface/default_user.png', :class => "user", :size => "40x40") %>
      <div class="item-container strip_annotations">
        <div class="<%= name_class_for(comment.author) %>"><%= link_to comment.author.formatted_name, user_path(comment.author.id) %></div>
        <div class="date">
           <%= time_ago_in_words(comment.created_at) %> ago in <%= link_to truncate(comment.discussion.subject), discussion_url_for(comment.discussion) %>
        </div>
        <div class="body">
          <%= raw markdown(truncate(comment.body, :length => 300, :separator => ' ')) %>
        </div>
      </div>
    </div>
  <% end -%>
</div>

<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
    $('.strip_annotations').stripAnnotations();
  });
</script>
