<div class="panel">
  <%- @comments.each do |comment| %>
    <div class="item">
      <%= image_tag('interface/default_user.png', :class => "user", :size => "40x40") %>
      <div class="item-container">
        <div class="<%= name_class_for(comment.author) %>"><%= link_to comment.author.formatted_name, user_path(comment.author.id) %></div>
        <div class="date">
           <%= time_ago_in_words(comment.created_at) %> ago in <%= link_to truncate(comment.discussion.subject), discussion_url_for(comment.discussion) %>
        </div>
        <div class="body"><%= truncate(comment.body, :length => 70, :separator => ' ') %></div>
      </div>
    </div>
  <% end -%>
</div>
