<%- @comments.each do |comment| %>
  <div class="short-comment">
    <%= image_tag('default_user.png', :class => "short-comment-user", :size => "40x40") %>
    <div class="comment-container highlight_keywords">
      <div class="comment-body">
        <div class="name"><%= link_to comment.author.name, user_path(comment.author.id) %></div>
        <div class="date">Posted <%= time_ago_in_words(comment.created_at) %> ago</div>
        <%= raw markdown(comment.body) %>
      </div>
    </div>
    <div class="toolbar">
      <%- unless current_zooniverse_user && comment.author == current_zooniverse_user %>
        <div class="vote-controls">
          <%- if current_zooniverse_user %>
            <span id="comment-vote-<%= comment.id %>">
              <%- unless comment.upvotes.include?(current_zooniverse_user.id) %>
                <%= link_to("RECOMMEND", vote_up_comment_path(comment), {:remote => true, :method => :post, :style => "color:#2276BB;margin: 0;"}) %>
              <%- else -%>
                RECOMMENDED
              <% end -%>
            </span>&nbsp;|&nbsp;
            <span id="report-link-<%= comment.id %>">
              <%- if comment.events.select{ |event| event.user_id == current_zooniverse_user.id }.empty? %>
                <%= link_to("REPORT", report_comment_path(comment), {:remote => true, :method => :post, :style => "color:#2276BB;", :confirm => (t 'comments.report_comment_confirm') }) %>
              <%- else -%>
                REPORTED!
              <% end -%>
            </span>
          <% end -%>
        </div>
      <%- end -%>
    </div>
  </div>
<% end -%>
