<%= render :partial => "comments/comment", :collection => @comments %>

<%- if @comments.total_pages > 1 %>
  <div class="page-nav">
    <div class="pages">
      Page&nbsp;&nbsp;<%= will_paginate @comments, :container => false, :params => { :per_page => @per_page } %>
    </div>
    <div class="less page-loader" style="<%= @page == 1 ? 'display: none;' : '' %>">
      <span class="label">
        <%= link_to "Page #{ @page - 1 }", discussion_url_for(@discussion, :per_page => @per_page, :page => @page - 1) %>
      </span>
    </div>
    <div class="more page-loader" style="<%= @page == @comments.total_pages ? 'display: none;' : '' %>">
      <span class="label">
        <%= link_to "Page #{ @page + 1 }", discussion_url_for(@discussion, :per_page => @per_page, :page => @page + 1) %>
      </span>
    </div>
    <div class="push"></div>
  </div>
<% end -%>

<script type="text/javascript" charset="utf-8">
  $('.page-loader').live('click', function() {
    window.location.href = $('a', this).attr('href');
    return false;
  });
</script>
