<%= content_for :page_includes do %>
  <%= javascript_include_tag "markitup/jquery.markitup" %>
  <%= javascript_include_tag "markitup/sets/sellers/set" %>
  <%= javascript_include_tag "jquery.a-tools" %>

  <link rel="stylesheet" href="/javascripts/markitup/skins/simple/style.css" type="text/css" media="screen" charset="utf-8">
  <link rel="stylesheet" href="/javascripts/markitup/sets/sellers/style.css" type="text/css" media="screen" charset="utf-8">
<% end -%>

<%= form_for [@discussion, @comment] do |f| %>
  <div class="comment-form">
    <h2>Comment</h2>
    <%= f.text_area :body, :rows => 4, :cols => 40 %>
    <%= hidden_field_tag('comment[author_id]', current_zooniverse_user.id) %>
    <%= hidden_field_tag('comment[response_to_id]', "") %>
    
    <div id="comment-preview"></div>
      <%= submit_tag 'Submit' %>
  </div>
<% end -%>

<%- if @focus && @focus.is_a?(Asset) %>
  <div id="comment-annotation" style="display: none;">
    <%= image_tag @focus.location, :id => "comment-focus" %>
  </div>
<% end -%>

<%= render :partial => "comments/new.js" %>
