if(<%= !@comment.nil? %>) {
  if(<%= @short_display %>) {
    $('.edit_comment .left-edit-cancel').click();
    $('#<%= @comment.id %>').children().hide();
    $('#<%= @comment.id %>').append("<%= escape_javascript(render(:partial => "edit_short")) if @short_display %>");
  }
  else {
    $('.edit_comment .right-edit-cancel').click();
    var removed_avatar = $('#<%= @comment.id %>').parent().children('img.user').remove();
    $('#<%= @comment.id %>').children().hide();
    $('#<%= @comment.id %>-comment-annotation').remove();
    var removed_annotations = $('#<%= @comment.id %>-annotations').remove();
    $('#<%= @comment.id %>').append("<%= escape_javascript(render(:partial => "edit")) unless @short_display %>");
    $('.comment-preview.in-use').removeClass('in-use');
    $('#<%= @comment.id %> .comment-preview').addClass('in-use');
    $('#<%= @comment.id %> .markItUpButton a').text('');
    
    var moved_annotations = $('#<%= @comment.id %>-comment-annotation').remove();
    var removed_comment = $('#<%= @comment.id %>');
    $('#<%= @comment.id %>').replaceWith($('#<%= @comment.id %> .edit_comment'));
    $('#edit_comment_<%= @comment.id %>').parent('.comment').append(moved_annotations);
    
    $('body').append('<div id="edit-in-progress" style="display: none;"></div>');
    $('#edit-in-progress').append(removed_avatar);
    removed_comment.attr('id', 'original_<%= @comment.id %>');
    $('#edit-in-progress').append(removed_comment);
    $('#original_<%= @comment.id %>').append(removed_annotations);
  }
}
