<div class="upper-row">
  <div class="rhc">
    <div class="panel discussion-items">
      <ul class="search-kinds">
        <%- %w(comments objects collections).each do |kind| %>
          <li class="search-for-<%= kind %>">
            <%- if kind == @for %>
              <%= kind.humanize %>
            <%- else -%>
              <%= link_to kind.humanize, search_url(:search => @search, :for => kind) %>
            <% end -%>
          </li>
        <% end -%>
      </ul>
    </div>
  </div>
  <div class="lhc">
		<h1>Search</h1>
    <div class="search-box">
      <%= form_tag search_path do %>
        <%= text_field_tag "search", @search %>
        <%= hidden_field_tag "for", @for %>
        <%= submit_tag 'search' %>
      <% end -%>
    </div>
  </div>
</div>

<div class="lower-row">
  <div class="lhc">
    <%- unless @search.blank? %>
      <div id="search-results">
        <div class="comments-list">
          <h1><%= @for.humanize.pluralize %></h1>
          <%- kind = @for.sub('objects', 'assets').underscore.pluralize %>
          <%- if @results && @results.any? %>
            <%= render :partial => "#{kind}/#{kind}" %>
          <% end -%>
          
          <%- if @results.respond_to?(:total_pages) && @page < @results.total_pages %>
            <div class="more-results"><%= more_results "More", :page => @page + 1, :search => @search, :for => @for %></div>
          <% end -%>
        </div>
      </div>
    <% end -%>
  </div>
</div>
