<span class="moderator-actions">
  <ul>
    <%- if redeemable %>
      <li><%= link_to t('messages.send_to'), new_message_url(:recipient_name => user.name) %></li>
      <%- if user.state == "watched" %>
        <li>|&nbsp;&nbsp;<%= link_to "Remove watch", watch_admin_path(user), :remote => true, :method => :post %>
      <%- else -%>
        <li>|&nbsp;&nbsp;<%= link_to "Redeem this user", redeem_admin_path(user), :remote => true, :method => :post, :confirm => t('users.redeem_confirm') %></li>
      <% end -%>
    <%- else -%>
      <li><%= link_to t('messages.send_to'), new_message_url(:recipient_name => event.target_user.name) %></li>
      <li>|&nbsp;&nbsp;<%= link_to "Ignore", ignore_admin_path(event.id), :remote => true, :method => :post %></li>
      <%- if event.eventable_type == "Comment" %>
        <li>|&nbsp;&nbsp;<%= link_to "Remove", remove_comment_admin_path(event.id), :remote => true, :method => :post, :confirm => t('comments.destroy_confirm') %></li>
      <% end -%>
      <li>|&nbsp;&nbsp;<%= link_to "Ban this user", ban_admin_path(event.id), :remote => true, :method => :post, :confirm => t('users.ban_confirm') %></li>
    <% end -%>
  </ul>
</span>
