<!-- Displays reported objects -->
<div id="reports" class="panel">
 <h2>Reported Users</h2>
  <ul>
	<%- if @pending_user_events.empty? -%>
	<li>There are no reported users</li>
	<%- else -%>
		<%- @pending_user_events.each do |event| -%>
			<li><%= link_to event.target.name, user_path(event.target) %>: <%= event.title %> (reported by: <%=  link_to event.user.name, user_path(event.user) %>)</li>
		<%- end -%>
	<%- end -%>
  </ul>
 <br/>
 <h2>Reported Comments</h2>
  <ul>
	<%- if @pending_comment_events.empty? -%>
	<li>There are no reported comments</li>
	<%- else -%>
		<%- @pending_comment_events.each do |event| -%>
			<li><%= link_to truncate(event.target.body, :length =>50), comment_path(event.target) %><br /> (reported by: <%=  link_to event.user.name, user_path(event.user) %>)</li>
		<%- end -%>
	<%- end -%>
  </ul>
</div>