<div class="upper-row">
  <div class="lhc">
    <h1><%= t 'admin.title' %></h1>
  </div>
</div>

<div class="lower-row">
  <%= render :partial => "reported_users" %>
  <%= render :partial => "reported_comments" %>
  <%= render :partial => "watched" %>
  <%= render :partial => "banned" %>
  <%= render :partial => "logged" %>
</div>
