<%= content_for :page_includes do %>
  <link rel="stylesheet" href="/stylesheets/jquery-ui-1.8.7.custom.css" type="text/css" media="all" />
<% end -%>

<div class="upper-row">
  <div class="lhc">
    <h1><%= t 'admin.title' %></h1>
  </div>
</div>

<div class="lower-row">
  <%= render :partial => "reported_users" %>
  <%= render :partial => "reported_comments" %>
  <%= render :partial => "watched" %>
  <%= render :partial => "banned" %>
  <%= render :partial => "logged" %>
</div>
