<div class="profile">
  <div class="upper-row">
    <div class="lhc">
      <div class="profile-detail">
        <%= image_tag "interface/default_user.png" %>
        <div class="info">
          <h1><%= @user.name %></h1>
          <%- status = @user.online? ? 'online' : 'offline' %>
          <div class="user-status <%= status %>"><%= status.capitalize %></div>
          
          <%- unless current_zooniverse_user == @user %>
            <div class="user-actions" id="report-user-link-<%= @user.id %>">
              <ul>
                <li><%= link_to t('messages.send_to').upcase, new_message_url(:recipient_name => @user.name) %></li>
                <li><%= link_to "REPORT THIS USER", report_user_path(@user), :remote => true, :method => :post, :method => :post, :confirm => t('users.report_confirm') %></li>
              </ul>
            </div>
          <% end -%>
        </div>
      </div>
    </div>
  </div>
  <div class="lower-row">
    <div class="rhc" >
      <%- if current_zooniverse_user.moderator? && current_zooniverse_user != @user %>
        <div class="panel admin-panel">
          <h2>Administration</h2>
          <div>
            <div id="moderation-links">
              <%= render :partial => "state" %>
            </div>
          </div>
        </div>
      <% end -%>
      
      <div class="my-collections">
        <h2><%= "My " if current_zooniverse_user == @user %>Collections</h2>
        <% @collections.each do |collection| %>
          <div class="item">
            <div class="name">
              <%= link_to truncate(collection.name, :length => 30, :separator => ' '), collection_path(collection.zooniverse_id) %>
            </div>
            
            <%- assets = collection.is_a?(LiveCollection) ? collection.assets(:per_page => 7) : collection.asset_ids[0, 7].map{ |id| Asset.find(id) } %>
            <%- assets.each do |asset| %>
              <%= link_to image_tag(asset.location, :class => "collection-thumbnail", :width => 20, :height => 20), object_path(asset.zooniverse_id) %>
            <% end -%>
          </div>
        <% end -%>
        
        <%- if current_zooniverse_user == @user %>
          <div class="new">
            <%= link_to (t 'collection.startnewcol'), new_collection_path %>
          </div>
        <% end -%>
      </div>
    </div>
    
    <div class="lhc">
      <div class="popular-discussions">
        <h2>Popular Discussions</h2>
        <div>
          <%= render(:partial => "discussions/list_trending") if @discussions.any? %>
        </div>
        
        <%- if @discussions.total_pages > 1 %>
          <div class="more-results"><%= more_discussions "More", :page => @discussion_page + 1, :id => @user.id %></div>
        <% end -%>
      </div>
      
      <div class="panel user-comments">
        <h2>Latest Comments</h2>
        <div>
          <%= render :partial => "comments/recent" %>
        </div>
        <%- if @comments.total_pages > 1 %>
          <div class="more-results"><%= more_comments "More", :page => @comment_page + 1, :id => @user.id %></div>
        <% end -%>
      </div>
    </div>
  </div>
</div>
