<div class="profile">
  <div class="upper-row">
    <div class="lhc">
      <div class="profile-detail">
        <%= image_tag "interface/default_user.png" %>
        <div class="info">
          <h1><%= @user.name %></h1>
          
          <%- unless current_zooniverse_user == @user %>
            <div class="user-actions" id="report-user-link-<%= @user.id %>">
              <ul>
                <li><%= link_to t('messages.send_to').upcase, new_message_url(:recipient_name => @user.name) %></li>
                <li><%= link_to("REPORT THIS USER", report_user_path(@user), { :remote => true, :method => :post, :method => :post, :style => "color:#2276BB;" }) %></li>
              </ul>
            </div>
          <% end -%>
        </div>
      </div>
    </div>
  </div>
  <div class="lower-row">
    <div class="rhc" >
      <%- if current_zooniverse_user.moderator? && current_zooniverse_user != @user %>
        <div class="panel admin-panel">
          <h2>Administration</h2>
          <div>
            <div id="moderation-links">
              <%= render :partial => "state" %>
            </div>
          </div>
        </div>
      <% end -%>
      
      <div class="my-collections">
        <h2><%= "My " if current_zooniverse_user == @user %>Collections</h2>
          <%- unless @collections.empty? %>
            <% @collections.each do |collection| %>
              <div class="item">
								<div class="name"><%= link_to collection.name, collection_path(collection.zooniverse_id) %></div>
								  <%- unless collection.assets.empty? %>
						        <%- collection.assets.each do |item| %>
						          <%= link_to image_tag(item.location, :class => "collection-thumbnail", :height => 20), object_path(item.zooniverse_id) %>
						        <% end -%>
						      <%- else -%>
						        <div>Empty</div>
						      <% end -%>
              </div>
            <% end -%>
          <%- else -%>
            <p>No Collections</p>
          <% end -%>

        <%- if current_zooniverse_user == @user %>
          <div class="new">
            <%= link_to (t 'collection.startnewcol'), new_collection_path() %>
          </div>
        <% end -%>
      </div>
    </div>

    <div class="lhc">
      <div class="popular-discussions">
        <h2>Popular Discussions</h2>
        <div>
          <%- unless @discussions.nil? %>
            <%= render :partial => "discussions/list_trending" %>
          <%- else -%>
            <p>No discussions</p>
          <% end -%>
        </div>
        
        <%- if @discussions.total_pages > 1 %>
          <div class="more-results"><%= more_discussions "More", :page => @discussion_page + 1, :id => @user.id %></div>
        <% end -%>
      </div>
      
      <div class="panel user-comments">
        <h2>Latest Comments</h2>
        <div>
          <%= render :partial => "comments/recent" %>
        </div>
        <%- if @comments.total_pages > 1 %>
          <div class="more-results"><%= more_comments "More", :page => @comment_page + 1, :id => @user.id %></div>
        <% end -%>
      </div>
    </div>
  </div>
</div>
