<div class="upper-row">
	<div class="rhc">
		<div class="panel my-collections">		
		<h2><%- if current_zooniverse_user == @user -%>My&nbsp;<% end %>Collections</h2>
			<div class="inner">				
					<% unless @user.collections.empty?  %>				
					<% @user.collections.each do |collection| %>
						<div class="collection">
							<%= link_to image_tag(collection.assets.first.thumbnail_location, :class => "collection-thumbnail", :height => 100), collection_path(collection.zooniverse_id) unless collection.assets.empty? %>
							<div class="collection-info">						
									<h3><%= link_to collection.name, collection_path(collection.zooniverse_id) %></h3>
									<ul>	
										<li><%= pluralize collection.assets.size, "item"%></li>										
										<li><%= pluralize collection.discussions.size, "discussion"%></li>
									</ul>
							</div>
						</div>							
						<% end %>							
					<% else %>											
						<p>No Collections</p>
					<% end %>			
					<%- if current_zooniverse_user == @user -%>						
					<div class="toolbar">	
						<%= link_to "+ "+(t 'collection.startnewcol'), new_collection_path() %>	
					</div>
					<% end %>
			</div>
		</div>
	</div>
	<div class="lhc">		
		<div class="profile">
			<%= image_tag "default_user.png" %>
			<div class="info">
				<h1><%= @user.name %></h1>
		
				<%- unless current_zooniverse_user == @user -%>					
				<div class="user-actions" id="report-user-link-<%= @user.id %>"><%= link_to("REPORT THIS USER", report_user_path(@user), {:remote => true, :method => :post, :method => :post, :style => "color:#2276BB;"}) %>					

					<%- if current_zooniverse_user.moderator? -%>
					<div id="moderation-links" style="">									
						<% unless @user.state == "banned" %>
			      				<%= link_to 'Ban this user', ban_user_path(@user.id), {:remote => true, :method => :post, :id => "ban-user-link-#{@user.id}"} %>
			      	  <% else %>
			      	    BANNED
			      	  <% end %>
					</div>
					<%- end -%>
					
				</div>
				<%- end -%>		
			
			</div>			
		</div>	
	
	</div>

</div>
<div class="lower-row">
	<div class="rhc" ></div>
	<div class="lhc">
		<div class="panel">		
			<h2>Popular Discussions</h2>
			<div class="inner">
			<% unless @discussions.nil? %>
				<%= render :partial => "shared/list_of_discussions_main", :locals => { :discussions_list => @discussions, :id_of_box => "trending-discussions" } %>				
			<% else %>
				<p>No discussions</p>
			<% end %>
			</div>
		</div>
		
		<div class="panel">		
			<h2>Latest Comments</h2>
			<div class="inner">			
		<%= render :partial => "shared/list_of_comments", :locals => { :comments_list => @user.comments, :id_of_box => "recent-comments" } %>
			</div>
		</div>
	</div>
</div>