<!-- Displays an asset with meta data for discussion and comment -->
<div id="asset_as_focus" class="panel">
	<%= image_tag(@asset.location, :class => "main-image", :id => "asset-image", :height => 200) %>
	<div class="asset-meta">
		<ul>
			<li><strong>ID: </strong><%= @asset.zooniverse_id.to_s %></li>
			<li><strong>Name: </strong><%= @asset.name.to_s %></li>
			<li><strong>Coordinates: </strong><%= @asset.coords.first.to_s %>, <%= @asset.coords.last.to_s %></li>
		</ul>
	</div>
</div>