<div class="comment">
	<div style="">
		<%= image_tag('default_user.png', :class => "short-comment-user", :height => 40) %>
		<% if !comment.author.admin %>

		<% end %>
	</div>
	<div class="comment-container highlight_keywords">
		<div class="comment-body">
			<div class="name"><%= link_to comment.author.name, user_path(comment.author.id) %></div>
			<div class="date">Posted <%= time_ago_in_words(comment.created_at) %> ago</div>
			<%= raw markdown(comment.body) %>
		</div>					
		
		<div class="toolbar">
		<%- if current_zooniverse_user && comment.author != current_zooniverse_user %>
			<div class="vote-controls">
				<span id="comment-vote-<%= comment.id %>">
				  <%- unless comment.upvotes.include?(current_zooniverse_user.id) %>
  				  <%= link_to(t('comments.recommend'), vote_up_comment_path(comment), {:remote => true, :method => :post, :style => "color:#2276BB;margin: 0;"}) %>
  				<%- else -%>
  				  RECOMMENDED
  				<% end -%>
				</span>&nbsp;|&nbsp;<span id="report-link-<%= comment.id %>">
				  <%- if comment.events.select{ |event| event.user_id == current_zooniverse_user.id }.empty? %>
				    <%= link_to(t('comments.report'), report_comment_path(comment), {:remote => true, :method => :post, :style => "color:#2276BB;", :confirm => (t 'comments.report_comment_confirm') }) %>
				  <%- else -%>
				    REPORTED!
				  <% end -%>
				</span>
			</div>
			<div class="reponse-to">
				<%= link_to t('comments.reply'), "#", :onclick => "reply_to('#{comment.id}', '#{comment.author.name}');" %>&nbsp;|&nbsp;
				<%- if comment.is_a_response? -%>
					Response to <%= comment.response_to.author.name %>
				<%- end -%>
			</div>
			
		<%- end -%>
		</div>
	</div>
</div>
