<!-- Displays info about the discussions for a board -->
<div id="meta-for-discussions" class="panel tags right">
	<h2>INFO</h2>
	  <ul>
  		<li><%= t 'discussion.meta.discussions' %>: <%= @board.discussions.count %></li>
		<li><%= t 'discussion.meta.users' %>: <%= @board_stats[:number_of_users] %></li>
		<li><%= t 'discussion.meta.comments' %>: <%= @board_stats[:number_of_comments] %></li>
      </ul>
</div>