<div id="sidebar">
	<ul>
		<li><%= link_to t('sidenav.home'), :controller => :home, :action => :index %></li>
		<li><%= link_to t('sidenav.messages'), :controller => :messages, :action => :index %></li>
		<li><%= link_to t('sidenav.search'), :controller => :search, :action => :index %></li>
		<br/>
		<li><%= link_to t('sidenav.science'), :controller => :boards, :action => :science %></li>
		<li><%= link_to t('sidenav.help'), :controller => :boards, :action => :help %></li>
		<li><%= link_to t('sidenav.chat'), :controller => :boards, :action => :chat %></li>
		<br/>
		<li><%= link_to t('sidenav.moderation'), :controller => :admin, :action => :index %></li>
		<li><%= link_to t('sidenav.login'), :controller => :home, :action => :cas_test %></li>
	</ul>
</div>