<div id="sidebar">
  <ul>
    <li><%= link_to t('sidenav.home'), root_path %></li>
    <li><%= link_to t('sidenav.messages'), messages_path %></li>
    <li><%= link_to t('sidenav.search'), search_path %></li>
    <br/>
    <li><%= link_to t('sidenav.help'), help_board_path %></li>
    <li><%= link_to t('sidenav.science'), science_board_path %></li>
    <li><%= link_to t('sidenav.chat'), chat_board_path %></li>
    <br/>
    <%- if current_zooniverse_user %>
      <%- if current_zooniverse_user.admin? || current_zooniverse_user.moderator? %>
        <li><%= link_to t('sidenav.moderation'), admin_path %></li>
      <% end -%>
      <li><%= link_to t('sidenav.profile'), user_path(current_zooniverse_user) %></li>
      <li><%= link_to t('sidenav.logout'), logout_path %></li>
    <%- else -%>
      <li><%= link_to t('sidenav.login'), cas_test_path %></li>
    <% end -%>
  </ul>
</div>