<div id="top_bar">
<div id="top_bar_container">
	
	<!-- ZOONIVERSE LINK -->
	<ul class="left"> 
		<li>&middot; <%= t 'topbar.left1' %> <%= link_to(image_tag("zooniverse_logo.gif", :size => "150x28", :alt => "Zooniverse Logo", :align => "absmiddle", :border => "0"), "http://zooniverse.org", :target => "_blank", :title => "The Zooniverse") %> <%= t 'topbar.left2' %></li> 
	</ul>
	
	<!-- MOON ZOO LINK -->
	<ul class="right"> 
		<li><%= t 'topbar.right1' %> <%= link_to(image_tag("moon_zoo.png", :size => "153x28", :alt => "Moon Zoo Logo", :align => "absmiddle", :border => "0"), "http://www.moonzoo.org", :target => "_blank", :title => "Moon Zoo") %></li> 
	</ul> 
	
</div>
</div>
<div style="clear:both;"></div>