<div id="discussions_page_<%= @discussions.current_page %>" class="page">
  <%- @discussions.each do |discussion| %>
    <div class="discussion<%= cycle(' alt', '') %>">
      <div class="title">
        <%= title_link_for discussion %>
      </div>
      <span class="started-by">
        <%- unless discussion.conversation? || discussion.started_by_id.nil? %>
          started by <%= link_to discussion.started_by.name, user_path(discussion.started_by) %>
        <% end -%>
      </span>
      <div class="push"></div>
      <div class="stats">
        <div class="users-total">
          <%= pluralize(discussion.number_of_users, "user") %>
        </div>
        <div class="comment-total">
          <%= pluralize(discussion.number_of_comments, "comment") %>
        </div>
        <%- if @showing == "recent" %>
          <div class="comments-total">
            <%= pluralize(discussion.count_new_comments(:for_user => current_zooniverse_user, :since => @since), "new comment") %>
          </div>
        <% end -%>
        <div class="last-post">
          <%- last_comment = Comment.sort(:created_at.desc).first(:discussion_id => discussion.id) %>
          <%- if last_comment %>
            <%= link_to "last post", comment_url_for(last_comment) %>
            <%= time_ago_in_words last_comment.created_at %> ago
            by <%= link_to last_comment.author.name, user_path(last_comment.author) %>
          <% end -%>
        </div>
      </div>
    </div>
  <% end -%>
  
  <div class="page-nav">
    <%= page_listing :collection => @discussions, :per_page => @discussions_options[:per_page] %>
    <div class="less" style="display: none;">
      <span style="position: absolute;"><%= @showing == "recent" ? "Newer" : "More popular" %></span>
    </div>
    <%= link_to_more("<div class=\"more\">#{ @showing == 'recent' ? 'Older' : 'Less popular' }</div>".html_safe, :showing => @showing, :kinds => :discussions, :since => @since, :by_user => @by_user, :discussions_page => @discussions_options[:page] + 1) if @discussions.total_pages > @discussions.current_page %>
    <div class="push"></div>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
    if(<%= @showing == "recent" %>) {
      $('#discussions-selector').show();
    }
    else {
      $('#discussions-selector').hide();
    }
    
    $('#discussions').css('background', '#FFFFFF');
    $('#discussions_page_<%= @discussions.current_page %> .discussion:first').css('border-top', '1px dotted #AFAFAF');
    $('#discussions_page_<%= @discussions.current_page %> .page-loader').live('click', function() {
      page_loading($(this).closest('.page-nav'));
    });
  });
</script>
