<%- if @featured && @featured.any? %>
  <div class="featured">
    <h2>Featured</h2>
    <%- @featured.each do |feature| %>
      <div class="list">
        <%- if feature.focus_base_type == "Asset" %>
          <div class="red ribbon"></div>
          <%= link_to image_tag(feature.focus.location, :size => "130x130"), feature.path %>
          <div class="box_shadow"></div>
          <p><%= link_to feature.subject, feature.path %></p>
        <%- elsif feature.focus_base_type == "Group" %>
          <div class="red ribbon"></div>
          <%= link_to image_tag(feature.focus.location, :size => "130x130"), feature.path %>
          <div class="box_shadow"></div>
          <p><%= link_to feature.subject, feature.path %></p>
        <%- elsif feature.focus_base_type == "AssetSet" %>
          <div class="gold ribbon"></div>
          <%= link_to image_tag(feature.focus.assets.first.location, :size => "130x130"), feature.path %>
          <div class="box_shadow"></div>
          <p><%= link_to "#{ feature.subject } - #{ feature.focus.name }", feature.path %></p>
        <%- elsif feature.focus_base_type == "Board" %>
          <div class="ribbon" style="background-color: #B5D4E3;"></div>
          <!--  It would be handy to have an icon for other featured discussions.  Anybody feeling graphically inclined?  -->
          <%= link_to image_tag("moonzoo/interface/menu_active.png", :size => "130x130"), feature.path %>
          <div class="board_info">
            <h2><%= feature.sub_board? ? feature.focus.parent.pretty_title : feature.focus.pretty_title %></h2>
          </div>
          <div class="box_shadow"></div>
          <p><%= link_to feature.subject, feature.path %></p>
        <% end -%>
      </div>
    <% end -%>
  </div>
<% end -%>
