<%= content_for :content_class do %>home<% end %>
<%= content_for :page_includes do %>
  <%= stylesheet_link_tag "jquery-ui-1.8.7.custom.css" %>
<% end -%>

<div class="mode_switch">
  <%= render :partial => "mode_switch" %>
</div>

<div class="rhc">
  <%= render :partial => "featured" %>
  <%= render :partial => "keywords" %>
</div>

<div class="lhc" style="float: left;">
  <div class="upper">
    <div id="assets">
      <h2><%= @showing.upcase %> OBJECTS</h2>
      <div class="list">
        <div class="page-container">
          <%= render :partial => "assets" %>
        </div>
      </div>
    </div>
    <div id="collections">
      <h2><%= @showing.upcase %> COLLECTIONS</h2>
      <div class="list">
        <div class="page-container">
          <%= render :partial => "collections" %>
        </div>
      </div>
    </div>
    
    <div class="push"></div>
  </div>
  
  <div id="discussions">
    <h2><%= @showing.upcase %> DISCUSSIONS</h2>
    <%= render :partial => "form_for_discussions" %>
    
    <div class="list">
      <div class="page-container">
        <%= render :partial => "discussions" %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
    $('#ui-datepicker-div').hide();
    $('.mode_switch a:not(.current)').live('click', function() {
      $('.mode_switch a').click(function() {
        return false;
      });
      
      $('.home .mode_switch span').fadeTo('fast', 0.2);
    });
    
    $('#discussions-selector #since').val('<%= @since_options.first %>');
    $('#discussions-selector #since option:selected').addClass('current');
    $('#discussions-selector #by_user').val('Anybody');
  });
</script>
