<div class="upper-row">
	<div class="rhc">
		<%= render :partial => "shared/list_of_discussions" %>	
		<%= render :partial => "shared/list_of_mentions" %>	
		<%= render :partial => "shared/tags_for_focus" %>	
	</div>
	
	<div class="lhc">
		<h1 class="collection-title"><%= @collection.name %> by <%= link_to @collection.user.name, user_path(@collection.user) %></h1>
		<p class="collection-description"><%= @collection.description %></p>
		<div class="collection-viewer">
			<%= render :partial => "shared/live_collection_as_focus" %>
		</div>
	</div>

</div>

<div class="lower-row">
	<div class="lhc">		
		<%= render :partial => "shared/comment_short_new" if current_zooniverse_user %>			
		<div class="comments-list">
			<%= render :partial => "shared/stream" %>
		</div>
	</div>
	<div class="rhc">		
							
	</div>
</div>