<li><a class="collect-asset"><%= t 'collection.collect' %></a></li>
<div class="collect-dialog" title="<%= "#{ t 'collection.collect' } #{ t 'asset.name' }" %>" style="display: none;">
  <p><%= t 'collection.choose' %></p>
  <ul>
    <li class="new-collection">
      <%= link_to "#{ image_tag('icons/add.png') } #{ t 'collection.startnewcol' }".html_safe, new_collection_url(:object_id => @asset.zooniverse_id) %>
    </li>
    <%- current_zooniverse_user.collections.where(:_type => "Collection").each do |collection| %>
      <li>
        <%= link_to truncate(collection.name, :length => 35, :separator => ' '),
          { :controller => :collections, :action => :add, :format => :js, :id => collection.zooniverse_id, :asset_id => @asset.id },
          { :remote => true, :method => :post, :class => "collect-link" }
        %>
      </li>
    <% end -%>
  </ul>
</div>

<%= render :partial => "collect_dialog.js" %>
