

<div class="upper-row">
	<%= render :partial => "shared/tags_for_focus" %>
	<%= render :partial => "shared/asset_as_focus" %>

</div>

<div class="lower-row">
	<div class="lhc">		
		<div class="comments-list">
			<%= render :partial => "shared/comment_short" %>	
			<%= render :partial => "shared/comment_short" %>					
		</div>
	</div>
	<div class="rhc">
		<%= render :partial => "shared/list_of_collections" %>			
		<%= render :partial => "shared/list_of_discussions" %>	
		<%= render :partial => "shared/list_of_mentions" %>									
	</div>
</dov>