<%= content_for :page_includes do %>
  <%= javascript_include_tag "jquery.colorbox-min" %>
  <%= stylesheet_link_tag "colorbox" %>
  <link rel="stylesheet" href="/stylesheets/jquery-ui-1.8.7.custom.css" type="text/css" media="all" />
<% end -%>

<div class="upper-row asset-upper">
  <div class="rhc">
    <%= render :partial => "discussions/list_for_focus" %>
    <%= render :partial => "shared/tags_for_focus" %>
    <%= render :partial => "discussions/mentions" %>
  </div>
  <div class="lhc">
    <div id="asset-as-focus">
      <h1><p>OBJECT <%= link_to @asset.zooniverse_id, object_path(@asset.zooniverse_id) %></p></h1>
      <div class="rounded-panel">
        <div class="collection-info paginatable_collection">
          <h2 class="asset-collections" style="<%= @collections.blank? ? 'display: none' : '' %>">COLLECTIONS WITH THIS OBJECT</h2>
          <div class="container">
            <%- @collections.in_groups_of(3).each do |group| %>
              <div class="col">
                <%- group.reject{ |c| c.nil? }.each do |collection| %>
                  <div class="collection">
                    <h2><%= link_to truncate(collection.name, :length => 60, :separator => ' '), collection_path(collection.zooniverse_id) %></h2>
                    <div class="film">
                      <%- assets = collection.is_a?(KeywordSet) ? collection.assets(:per_page => 8) : collection.asset_ids[0, 8].map{ |id| Asset.find(id) } %>
                      <%- assets.each do |asset| %>
                        <%= link_to image_tag(asset.thumbnail_location, :width => 29, :height => 29), collection_path(collection.zooniverse_id) %>
                      <% end -%>
                    </div>
                  </div>
                <% end -%>
              </div>
            <% end -%>
          </div>
          <div class="nav"></div>
        </div>
        
        <%= link_to image_tag(@asset.location, :class => "focus-main-image", :id => "asset-image", :width => 225, :height => 225), @asset.location, :class => 'lightbox', :title => @asset.zooniverse_id %>
        <div class="asset-meta">
          <ul>
            <li><%= @asset.coords.first.to_s %>, <%= @asset.coords.last.to_s %></li>
          </ul>
        </div>
        
        <div class="asset-actions">
          <ul>
            <li><%= link_to "View Image", "#{ @asset.location }", :target => '_blank', :class => 'lightbox' %></li>
            <li><%= link_to "Examine", "http://www.moonzoo.org/examine/#{ @asset.zooniverse_id }", :target => "_blank" %></li>
            <%= render :partial => "collect" if current_zooniverse_user %>
          </ul>
        </div>
        <%- if current_zooniverse_user && current_zooniverse_user.privileged? %>
          <div id="admin-tools">
            <%- unless @discussion.featured %>
              <p id="featured-link">
                <%= link_to "Feature this object", toggle_featured_discussion_path(@discussion), { :remote => true, :method => :post } %>
              </p>
            <%- else -%>
              <p id="featured-link">
                <%= link_to "Remove this object from featured", toggle_featured_discussion_path(@discussion), { :remote => true, :method => :post } %>
              </p>
            <% end -%>
          </div>
        <% end -%>
      </div>
    </div>
  </div>
</div>

<div class="lower-row">
  <div class="lhc">
    <%- if current_zooniverse_user %>
      <%= render :partial => "comments/new_short" %>
    <%- else -%>
      <%= render :partial => "shared/please_log_in" %>
    <% end -%>
    <div class="comments-list rounded-panel short-comments">
      <%= render :partial => "comments/list_short" %>
    </div>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
    Talk.paginated_collection.init();
    $('.lightbox').colorbox();
  });
</script>
