<%= content_for :page_includes do %>
	<link rel="stylesheet" href="/stylesheets/jquery-ui-1.8.5.custom.css" type="text/css" media="all" /> 
<% end %>

<div class="upper-row asset-upper">
  <div class="rhc">
    <%= render :partial => "discussions/list_for_focus" %>	
    <%= render :partial => "shared/tags_for_focus" %>
  </div>
  <div class="lhc">
    <div id="asset-as-focus">
      <h1 class="asset-name"><%= @asset.zooniverse_id.to_s %></h1>

			<div class="rounded-panel">
				<div class="collection-info">					
					<div class="container">
					<% count = 0 %>
					<%- @collections.each_with_index do |collection, collection_index| %>
					
							<% count = count+1 %>
							<% if count == 1 %>
								<div class="col">
							<% end %>
							
							<div class="collection">
								<h2><%= link_to collection.name, collection_path(collection.zooniverse_id) %></h2>
								<div class="film">
								 <%- unless collection.assets.empty? %>
								    <% collection.assets.each_with_index do |asset, index| %>
												<% if index < 8 %>
													<%= image_tag(asset.location, :height => 29) %>
												<% end %>
							    	<% end %>											
							    <% end %>
								</div>
							</div>	
							
							<% if count == 4 || collection_index == @collections.size-1 %>
								</div>	<!--  close col -->																										
							<% count = 0 %>
							<% end %>
							
					<% end %>						
					</div>	<!--  close container -->
					<div class="nav"></div>									
				</div>	<!--  close collection info -->
					
	      <%= image_tag(@asset.location, :class => "focus-main-image", :id => "asset-image", :height => 225, :width => 225) %>
	      <div class="asset-meta">
	        <ul>
	          <li><%= @asset.coords.first.to_s %>, <%= @asset.coords.last.to_s %></li>
	        </ul>
	      </div>

	      <div class="asset-actions">
	        <ul>
	          <li><%= link_to "Examine", "http://www.moonzoo.org/examine/#{@asset.zooniverse_id.to_s}", :target => :blank %></li>
	          <%= render :partial => "collect" if current_zooniverse_user %>
	        </ul>
	      </div>
	
			</div> <!-- close rounded panel -->
			
    </div>
  </div>
</div>

<div class="lower-row">
  <div class="lhc">
    <%- if current_zooniverse_user %>
      <%= render :partial => "comments/new_short" %>
    <%- else -%>
      <%= render :partial => "shared/please_log_in" %>
    <% end -%>
    <div class="comments-list rounded-panel short-comments">
      <%= render :partial => "comments/list_short" %>
    </div>
  </div>
  <div class="rhc">
    <%= render :partial => "discussions/mentions" %>	
  </div>
</div>
