<div id="discussions-list" class="panel">
  <%- if @discussions %>
    <%- @discussions.each do |discussion| %>
      <div class="recent-item">
        <div class="item-container">
          <div class="date"><%= long_date(discussion.updated_at) %></div>
          <div class="name <%='featured' if discussion.featured%>">
            <%= link_to discussion.subject, discussion_url(discussion.zooniverse_id) %>
          </div>
          <div class="views-total"><%= pluralize(discussion.number_of_users, "user" )%></div>
          <div class="comment-total"><%= pluralize(discussion.number_of_comments, "comment") %></div>
          <div class="push"></div>
        </div>
      </div>
    <% end -%>
  <% end -%>
</div>
