<%- @discussions.each do |discussion| %>
  <div class="discussion<%= cycle(' alt', '') %>">
    <div class="title">
      <%= title_link_for discussion, :focus_prefix => false %>
    </div>
    <span class="started-by">
      <%- unless discussion.conversation? || discussion.started_by_id.nil? %>
        started by <%= link_to truncate(discussion.started_by.name, :length => 20), user_path(discussion.started_by) %>
      <% end -%>
    </span>
    <div class="push"></div>
    <div class="stats">
      <div class="users-total">
        <%= pluralize(discussion.number_of_users, "user") %>
      </div>
      <div class="comment-total">
        <%= pluralize(discussion.number_of_comments, "comment") %>
      </div>
      <div class="comments-total">
        <%= pluralize(discussion.count_new_comments(:for_user => current_zooniverse_user), "new comment") %>
      </div>
      <div class="last-post">
        <%- last_comment = Comment.sort(:created_at.desc).first(:discussion_id => discussion.id) %>
        <%- if last_comment %>
          <%= link_to "last post", last_comment.path %>
          <%= time_ago_in_words last_comment.created_at %> ago
          by <%= link_to last_comment.author.name, user_path(last_comment.author) %>
        <% end -%>
      </div>
    </div>
  </div>
<% end -%>

<div class="page-nav">
  <%- @board_options.delete :by_user unless @board_options[:by_user] %>
  <%- paginate_options = @board_options[:by_user] ? { :by_user => true } : { :by_user => nil } %>
  <%- paginate_options.update({ :utf8 => nil, :format => nil }) %>
  
  <div class="pages">
    <%- if @discussions.total_pages > 1 %>
      Page&nbsp;&nbsp;<%= will_paginate @discussions, :container => false, :params => paginate_options %>
    <% end -%>
  </div>
  <div class="less page-loader" style="<%= @page == 1 ? 'display: none;' : '' %>">
    <span class="label">
      <%= link_to "Page #{ @page - 1 }", @board.path(@board_options.update({ :page => @page - 1 })) %>
    </span>
  </div>
  <div class="more page-loader" style="<%= @page >= @discussions.total_pages ? 'display: none;' : '' %>">
    <span class="label">
      <%= link_to "Page #{ @page + 1 }", @board.path(@board_options.update({ :page => @page + 1 })) %>
    </span>
  </div>
  <div class="push"></div>
</div>

<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
    $('.lhc h2.title').css('background', '#FFFFFF');
    $('#discussions .discussion:first').css('border-top', '1px dotted #AFAFAF');
    
    $('.page-loader').live('click', function() {
      window.location.href = $('a', this).attr('href');
      return false;
    });
  });
</script>
