<div class="upper-row">
  <div id="board-heading" class="panel boards">
    <h1><%= @board.title %></h1>
    <div id="meta-for-discussions" class="panel">
      <%= "#{ @board.discussion_ids.length } #{ t('discussion.meta.discussions') } / #{ @board.number_of_comments } #{ t('discussion.meta.comments') }" %>
    </div>
    <p><%= @board.description %></p>
    <%= link_to t('controllers.boards.new_discussion'), new_board_discussion_url(@board.title) %>
  </div>
</div>

<div class="lower-row">
  <div class="lhc">
    <div class="discussions-list">
      <%= render :partial => "discussions/discussions" %>
    </div>
    
    <%= will_paginate @discussions %>
    
  </div>
  <div class="rhc">
    <%= render :partial => "shared/zooniverse_extras" %>
    <%= render :partial => "shared/project_link" %>
    <%= render :partial => "shared/help_wanted" %>
  </div>
</div>
