<div class="upper-row">
	TITLE OF BOARD
</div>

<div class="lower-row">
	<div class="lhc">		
		<div class="comments-list">
			<%= render :partial => "shared/stream" %>
		</div>
		<%= render :partial => "shared/comment_short_new" %>			
	</div>
	<div class="rhc">
		<%= render :partial => "shared/list_of_collections" %>			
		<%= render :partial => "shared/list_of_discussions" %>	
		<%= render :partial => "shared/list_of_mentions" %>									
	</div>
</div>