<%= content_for :content_class do %>board<% end %>

<div class="lhc">
  <div id="boards">
    <%= render :partial => "sub_boards" %>
  </div>
  <div id="discussions">
    <%- if current_zooniverse_user %>
      <%= render :partial => "discussion_selector" %>
    <%- else -%>
      <div style="height: 30px;">
        <%= render :partial => "new_discussion" %>
      </div>
    <% end -%>
    <div class="list">
      <%= render :partial => "discussions" %>
    </div>
  </div>
</div>

<div class="rhc">
  <%= render :partial => "shared/help_wanted" %>
</div>
