<%= content_for :content_class do %>board<% end %>

<div class="rhc">
  <%= render :partial => "shared/help_wanted" %>
</div>

<div class="lhc">
  <h2 class="title">
    <%= @board.title.upcase %>
    <div class="right">
      <a href="<%= new_board_discussion_url(@board.title) %>" class="button">
        <span><%= t('controllers.boards.new_discussion') %></span>
      </a>
    </div>
  </h2>
  <div id="discussions">
    <%= render(:partial => "discussion_selector") if current_zooniverse_user %>
    <div class="list">
      <%= render :partial => "discussions" %>
    </div>
  </div>
</div>
