<!DOCTYPE html>
<html>
<head>
  <title>Sellers</title>
  <%= stylesheet_link_tag :all %>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.3/jquery-ui.min.js" type="text/javascript"></script>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tag %>
</head>
<body>
	<%= render :partial=> "shared/top_bar.html.erb" %>
	<div class="wrapper">
		<div id="header">
			<div id="logo">
				<%= link_to "Sellers", :action => :index %>
			</div>
		</div>
		<div id="lcol">
			SIDEBAR
		</div>
		<div id="rcol" class="ct">
			<%= yield %>
		</div>
	</div>
</body>
</html>
