<!DOCTYPE html>
<html>
  <head>
    <title><%= title_for_page %></title>
    <link rel="shortcut icon" href="/favicon.ico" />
    <%= stylesheet_link_tag "reset" %>
    <%= stylesheet_link_tag "talk" %>
    <!--[if lte IE 8]>
      <%= stylesheet_link_tag 'ie' %>
    <![endif]-->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js" type="text/javascript"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js" type="text/javascript"></script>
    <%= javascript_include_tag 'jquery.keywordHighlight.js'%>
    <%= javascript_include_tag 'application', 'rails' %>
    <%= yield :page_includes %>
    <%= csrf_meta_tag %>
    <%- unread = current_zooniverse_user.messages.count(:unread => true) if current_zooniverse_user %>
    <%- current_zooniverse_user.update_active! if current_zooniverse_user %>
  </head>
  <body>
    <div class="bar">
      <div class="inner">
        <!-- <a class="galaxyzoo_logo" href="#"></a> -->
        <a class="zooniverse_logo" href="#"></a>
      </div>
    </div>
    <div class="header">
      <div class="inner">
        <a href="/" class="logo"></a>
        <div class="menu">
          <ul>
            <li class="main_link back_to_app"><%= link_to "Return to Moonzoo", "http://beta.moonzoo.org/" %></li>
          </ul>
          <ul>
            <li class="main_link">
              <%- if current_zooniverse_user %>
                <%= link_to "Account", user_path(current_zooniverse_user) %>
                <%= link_to unread, messages_path, :class => "unread-messages-count#{ " active" if unread > 0 }" %>
              <%- else -%>
                <%= link_to "Account", cas_login %>
              <% end -%>
            </li>
            
            <%- if current_zooniverse_user %>
              <li><%= link_to(t('sidenav.moderation'), admin_index_path) if current_zooniverse_user.privileged? %></li>
              <li><%= link_to t('sidenav.profile'), user_path(current_zooniverse_user) %></li>
              <li>
                <%- if unread > 0 %>
                <strong><%= link_to pluralize(unread, "Message"), messages_path %></strong>
                <%- else -%>
                  <%= link_to "Messages", messages_path %>
                <% end -%>
              </li>
              <li><%= link_to t('sidenav.logout'), logout_path %></li>
            <%- else -%>
              <li><%= link_to t('sidenav.login'), cas_login %></li>
            <% end -%>
          </ul>
          
          <ul>
            <li class="main_link"><%= link_to "Boards", "#" %></li>
            <li><%= link_to "Help", help_board_path %></li>
            <li><%= link_to "Science", science_board_path %></li>
            <li><%= link_to "Chat", chat_board_path %></li>
          </ul>
          
          <ul>
            <li class="main_link"><%= link_to "Home", root_url %></li>
            <li><%= link_to "Search", search_path %></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="wrapper">
      <div class="ct content <%= yield :content_class %>">
        <%= render :partial => "shared/flash", :locals => { :flash => flash } %>
        <%= yield %>
        <div class="push"></div>
      </div>
      <%= render :partial => "shared/footer" %>
    </div>
  </body>
</html>
